.cardContainer {
  display: flex;
  justify-content: center;
  width: 18rem;
  outline: 6px solid black;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.goButton {
  margin-top: 1rem;
  height: 3rem;
  width: 6rem;
  outline: 3px solid black;
  border-radius: 10px;
  background-color: lightblue;
  box-shadow: 5px 5px 5px black;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.3s;
}

.goButton:hover {
  cursor: pointer;
}

.goButton:active {
  box-shadow: 8px 8px 8px gray;
}
